{% from 'helper/jquery.html' import jquery %}

<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>JoshFrank.in</title>
  <meta name="description" content="A student with a passion for Computer Science and creating new things.">
  <meta name="keywords" content="Joshua Franklin, Computer Science, Software Engineer, Software Developer, Web Developer, Website, Freelance, JoshFrankl.in">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="manifest" href="site.webmanifest">

  <link rel="image_src" href="/img/img_src.jpg">
  <link rel="og:image" href="/img/img_src.jpg">

  <link rel="apple-touch-icon" href="/icon.png">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/common.css">

  {% block css -%}{%- endblock %}
</head>
<body>
<!--[if lte IE 9]>
  <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
<![endif]-->

{% block body -%}{%- endblock %}

<script src="/js/plugins.js"></script>

{% block javascript -%}{%- endblock %}

<script>
  window.ga = function () {ga.q.push(arguments)};
  ga.q = []; ga.l = +new Date; ga('create', 'UA-50810949-7', 'auto'); ga('send', 'pageview')
</script>
<script src="https://www.google-analytics.com/analytics.js" async defer></script>
</body>
</html>
