body, html {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(141, 255, 255);

    color: white;
    font-family: Helvetica, serif;
}

body, .layer {
    height: 40000px;
}

button {
    background-color: white;
    border: none;
    border-radius: 3px;
    padding: 5px;
}

.layer {
    width: 100%;
    position: fixed;
    top: 0;
}

.layer > * {
    position: absolute;
}

#rocket {
    position: fixed;
    width: 100px;
    height: 150px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#instructions {
    left: 50%;
    bottom: calc(-50vh - 240px);
    width: 600px;
    text-align: center;
    transform: translateX(-50%);
}

#end {
    background-color: darkred;

    padding: 0 25px 25px 25px;
    border-radius: 5px;

    position: fixed;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    opacity: 0;
}

#cloud1 {
    left: 15%;
    bottom: 100px;

    width: 150px;
}

#cloud2 {
    right: 10%;
    bottom: 510px;

    width: 150px;
}

#cloud3 {
    right: 30%;
    bottom: 490px;
}

#cloud4 {
    left: 30%;
    bottom: -100px;

    width: 50px;
}

#cloud5 {
    right: 40%;
    bottom: -200px;

    width: 90px;
}

#cloud6 {
    left: 40%;
    bottom: 250px;

    width: 120px;
}

#station {
    left: 50%;
    width: 100px;
    bottom: calc(-50vh - 72px);
    transform: translateX(-50%);
}

#ground {
    bottom: calc(-50vh - 87px);

    width: 100%;
    height: 20px;
    background-image: url("assets/ground.svg");
    background-size: 80px;
}

#underground {
    bottom: calc(-100vh - 87px);

    width: 100%;
    height: 50vh;
    background-image: url("assets/underground.svg");
    background-size: 80px;
}

#stars1 {
    bottom: 1800px;

    width: 100%;
    height: 14000px;

    background-image: url("assets/stars1.svg");
}

#stars2 {
    bottom: 900px;

    width: 100%;
    height: 7000px;

    background-image: url("assets/stars2.svg");
}

#moon {
    left: 5%;
    bottom: 3000px;

    width: 200px;
}

#mars {
    right: 5%;
    bottom: 5000px;

    width: 150px;
}

#jupiter {
    left: 5%;
    bottom: 7000px;

    width: 400px;
}

#saturn {
    right: 5%;
    bottom: 9000px;

    width: 400px;
}

#uranus {
    left: 5%;
    bottom: 11000px;

    width: 300px;
}

#neptune {
    right: 5%;
    bottom: 13000px;

    width: 300px;
}
