.project {
  display: flex;
  flex-direction: column;
  transition: 0.3s;
  min-height: 200px;
  flex: 1 35%;
}

.project > div {
  margin: auto;
}

.project .project-description, .project .award-description {
  display: none;
  font-size: 16px;
}

.project:hover {
  flex: 2 2 35%;
}

.project:hover .project-description, .project:hover .award-description {
  display: block;
}

.project-title {
  font-size: 24px;
}

.award {
  width: 30px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 20px;
}

#title {
  font-size: 48px;
}

#about {
  width: 600px;
}

#profile {
  width: 200px;
  border: 10px solid white;
  border-radius: 50%;
  position: relative;
  top: -100px;
  left: 50%;
  margin-bottom: -70px;
  transform: translateX(-50%);
  display: block;
}

#projects {
  margin: auto;
}

#projects > h1 {
  color: white;
}

#projects-container {
  max-width: 900px;
  flex-wrap: wrap;
}

@media (min-width: 900px) {
  #title {
    font-size: 128px;
  }

  #projects-container {
    display: flex;
  }
}

@media (max-width: 900px) {
  .project .project-description, .project .award-description {
    display: block;
  }

  #helper {
    position: absolute;
    top: calc(50% + 20px);
    left: calc(50% + 96px);
    opacity: 0;
  }
}
