html {
  font-size: 18px;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

  background: #e2e2e2;
  min-height: 100%;

  text-shadow: 2px 2px 2px black;
  box-shadow: inset 0 0 100px black;
}

@media (min-width: 900px) {
  html {
    box-shadow: inset 0 0 500px black;
    font-size: 24px;
  }
}

.section {
  height: 100vh;
  display: flex;
}

.quarter-section {
  height: 25vh;
  display: flex;
}

.shadow {
  box-shadow: 2px 2px 2px black;
}

.card {
  background-color: blue;
  padding: 25px;
  color: white;
  max-width: 100%;
}
