/* Web Design */
#project-webdesign {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/website-23ad0.appspot.com/o/background2.jpg?alt=media&token=3bf9a443-eb15-4ac9-b71e-bc63668a2b5d");
  background-size: cover;
  background-attachment: fixed;
}

/* Ad Paws */
@keyframes colorcycle {
    0% {
        background: red;
        color: white;
    }
    25% {
        background: yellow;
        color: black;
    }
    50% {
        background: blue;
        color: white;
    }
    75% {
        background: green;
        color: white;
    }
    100% {
        background: red;
        color: white;
    }
}

#project-adpaws {
  animation: colorcycle 40s infinite ease;
}

/* Graphics Club */
#project-graphicsclub {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://upload.wikimedia.org/wikipedia/commons/f/f4/24-cell.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
}

/* What Happens After */
#project-whathappensafter {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://distrokid.imgix.net/http%3A//distrokid.com/hyperfollow/art/joshuafranklin/375771?w=800&s=cb743a3b6b276846a93abf1e777fcd5b");
  background-position: center;
  background-repeat: no-repeat;
}

/* Interactive Resume */
#project-interactiveresume {
  background-image: url("/img/project-interactiveresume.gif");
}
