@keyframes ballblink
{
  0%   {background-color: blue;}
  40%  {background-color: blue;}
  45%  {background-color: black;}
  50%  {background-color: #bf360c;}
  90%  {background-color: #bf360c;}
  95%  {background-color: black;}
  100% {background-color: blue;}
}

.circleimage {
  border-radius: 100%;
}

.circleimage div {
  border-radius: 100%;
  background-color: white;
  height: 200px;
  width: 200px;
}

.circleimage img {
  position: absolute;
  height: 180px;
  width: 180px;
  left: 10px;
  top: 10px;
  z-index: 2;
}

.quarter-section {
  height: 25vh;
  display: flex;
}

.card {
  background-color: blue;
  padding: 25px;
  color: white;
  max-width: 100%;
}

.project {
  display: flex;
  flex-direction: column;
  transition: 0.3s;
  min-height: 200px;
  flex: 1 35%;
}

.project > div {
  margin: auto;
}

.project .project-description, .project .award-description {
  display: none;
  font-size: 16px;
}

.project:hover {
  flex: 2 2 35%;
}

.project:hover .project-description, .project:hover .award-description {
  display: block;
}

.project-title {
  font-size: 24px;
}

.award {
  width: 30px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 20px;
}

#title {
  font-size: 48px;
  margin: auto;
}

#ball {
  height: 300px;
  width: 300px;
  left: 50%;
  top: -150px;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  transform: translate(-50%, -50%);
}

#about {
  width: 600px;
  margin: auto;
}

#profile {
  width: 200px;
  border: 10px solid white;
  border-radius: 50%;
  position: relative;
  top: -100px;
  left: 50%;
  margin-bottom: -70px;
  transform: translateX(-50%);
  display: block;
}

#projects {
  margin: auto;
}

#projects > h1 {
  color: white;
}

#projects-container {
  max-width: 900px;
  flex-wrap: wrap;
}

#footer {
  margin: auto;
}

#contact {
  cursor: pointer;
}

#page-mask {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
}

#contact-popup {
  position: fixed;
  padding: 20px;
  top: 5%;
  right: 150%;
  bottom: 5%;
  left: -50%;
  max-width: 400px;
  overflow: hidden;
}

#contact-popup textarea {
  width: calc(100% - 20px);
  height: 200px;
}

#close {
  position: absolute;
  top: 0;
  right: 5px;
  color: white;
  cursor: pointer;
}

#helper {
  position: relative;
  top: 0;
  left: 50%;
}

#title-ball-position {
  visibility: hidden;
}

@media (min-width: 900px) {
  #title {
    font-size: 128px;
  }

  #projects-container {
    display: flex;
  }
}

@media (max-width: 900px) {
  .project .project-description, .project .award-description {
    display: block;
  }

  html {
    font-size: 18px;
  }
}
